@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

/* Helpers */

.rounded{
  border-radius: 25px;
}

body, html{
  font-family: "Century Gothic" !important;
  background: #E7ECEF !important;
  color: #000403 !important;
  word-wrap: break-word;
  height: 100%;
  margin: 0;
  padding: 0;
  min-height: 100%;
}

.wrap{
  margin-bottom: 50px;
}

/* Nav */

.cartWrapper{
  display: inline-block;
  top: 7px;
  right: 12px;
  position: absolute;
}

.cartLink{
  width: 30px !important;
  height: 30px !important;
  background-image: url("https://cdn.shopify.com/s/files/1/2640/7518/t/3/assets/uv-bag.png?6511260562977628196");
  background-position: center center;
  background-size: 30px;
  background-repeat: no-repeat;
  text-align: center;
  display: block;
  cursor: pointer;
}

.cartQuantity{
  position: relative;
  top: 2px;
  font-size: 0.66em;
  line-height: 1;
  font-weight: bold;
}

/* Homepage */

.homepageHeader{
  border-bottom: 2px solid #000403;
  margin-top: 75px;
  margin-bottom: 45px;
  padding-bottom: 5px;
}

/* Slider */ 

.homepageCarouselImage{
  width: 100%;
  height: 80%;
}

.homepageCarousel{
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  height: 80%;
}

.slick-slider{
  height: 80%;
}

.slick-prev:before, .slick-next:before{
  font-size: 32px;
}

.slick-prev, .slick-next {
  z-index: 2; 
}

.slick-prev{
  left: 25px;
}

.slick-next{
  right: 40px;
}

.homepageBestSellersCarousel .slick-next{
  right: 60px;
}

.homepageBestSellersCarousel .slick-prev:before, .homepageBestSellersCarousel .slick-next:before{
  color: #70A7AD;
}

.slick-dots li button:before {
  font-size: 18px; 
  color: rgb(208, 250, 255); 
  opacity: .9;
  top: 1px;
}

.slick-dots li button {
  border: 5px solid #000403;
  border-radius: 25px; 
}

.slick-dots{
  bottom: 15px;
  background: transparent; 
}

.slick-dots li.slick-active button:before{
  opacity: 1;
  color: #000403;
}

/* Clothing Box */

.clothingBoxTitle{
  font-size: 0.85em;
  font-weight: bold; 
}

.clothingBoxSubTitle{
  font-size: 0.85em;
}

.clothingBoxPrice{
  font-size: .7em;
}

.clothingBoxDesc{
  margin: 5px;
}

.clothingBox{
  width: 30%;
  margin-right: 3%;
  display: inline-block;
}

.clothingBoxImage{
  width: 100%;
}

.clothingBox{
  vertical-align: top; 
}

/* Categories Box */

.categoriesBox{
  display: inline-block; 
  width: 50%;
}

.categoriesBoxImage{
  width: 60%;
  height: 50%;
  margin: 0 auto; 
  display: block; 
  overflow: hidden;
}

.categoriesBoxTag{
  text-align: center; 
  font-size: 1.8em;
  margin-top: 10px;
  margin-bottom: 30px;
}

/* Instagram */

.instagramIcon{
  color: red; 
  margin-right: 5px;
}

.instagramBox{
  width: 33%;
  display: inline-block;
  position: relative; 
}

.instagramBoxImage{
  object-fit: none; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  height: 600px;
  width: 100%;
}

.instagramBoxHandle{
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: center; 
  z-index: 3;
}

.instagramBoxLikes{
  text-align: center; 
  z-index: 3;
}

.instagramBoxPopup{
 position:absolute;
  top:50%;
  left:50%; 
  text-align:center;
  transform: translateX(-50%) translateY(-50%);
  background: rgba(15, 43, 54, 0.625); 
  color: white; 
  padding: 10px;
  border-radius: 25px; 
  z-index: 2;
}

.instagramBoxLink, .instagramBoxLink:hover{
  color: white;
}

/* Product Listing */

/* Filters */

.filterRow *{
  display: inline-block; 
}

.filterRow{
  display: block; 
}

.activeFilterDelete:hover{
  color: red; 
  cursor: pointer; 
}

/* Details */

.detailsContainer{
  margin-top: 75px; 
  padding-bottom: 20px;
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
  display: flex;
  flex-shrink: 2;
  flex-grow: 2;
  min-height: 100vh;
  flex: 1;
  flex-direction: row;
  align-items: flex-start;
}

.detailsImage{
  width: 90%;
  display: block;
  margin: 0 auto; 
}

.detailsImageScrollContainer{
  top: 60px;
  width: 40%;
  margin: 32px 0 32px 32px;
}

.detailsBrand{
 color: #0F2B36; 
}

.detailsRightHandInfo{
  right: 32px;
  position: sticky; 
  width: 60%;
  top: 20px;
  margin-top: 30px;
}

.detailsSizeBoxTitle{
  float: left; 
}

.detailsSizeBoxLink{
  float: right;
}

.detailsSizeBoxList{
  clear: both; 
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 10px; 
}

.detailsSizeBoxListButton{
  width: 50px;
  height: 50px;
  background: none;
  border: 1px solid #000403;
  border-radius: 25px;
  margin-right: 5px;
}

.detailsSizeBoxListButton:focus{
  outline: none;
  box-shadow: 0 0 10px 3px #000403;
}

.detailsSizeBoxListButton:hover{
  color: white;
  background: #000403; 
  cursor: pointer; 
}

.detailsSizeBoxListButtonActive{
  color: white;
  background: #000403; 
}

.detailsCartButton{
  margin: 30px auto;
  padding: 10px; 
  width: 100%;
  background: #0F2B36;
  color: white; 
  text-transform: uppercase;
  font-weight: bold; 
  letter-spacing: 1px;
  border: none; 
}

.disabledCartButton{
  cursor: not-allowed;
  background: rgb(143, 166, 168);
  color: rgb(61, 81, 83);
}

.enabledCartButton:hover{
  cursor: pointer;
  background: rgb(7, 20, 26);
}

.detailsDescriptionText{
  font-size: 14px;
}

.detailsDescContainer{
  display: flex;
  flex-direction: row;
  padding-top: 20px;
}

.detailsDescImage{
  width: 23px;
  height: 20px;
}

#hangerImage{
  height: 16px;
}

.detailsDescUL{
  padding: 0px;
}

.detailsDescText, .detailsDescLI{
  font-size: 14px;
}

.detailsDescLI{
  list-style-type: none;
  margin-bottom: 5px; 
}

.detailsDescText{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  margin-top: -5px;
}

.detailsRecommendation, .categoriesContainer{
  margin-bottom: 80px;
}
/* */

body, html, #root, .App, .wrap, #pollIndex, .container, .poll, .polls{
  height: 100%; 
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
  background: rgb(212, 212, 212);
  
  padding: 5px 0;
  height: 30px; 
}

header{
  background: rgb(212, 212, 212);
}

.navbar{
  padding: 0px 10px !important;
}

#footerCredit{
  left: 10px;
  position: absolute;
}

.footerLink{
  color: black; 
}

#tag{
	margin: 0px; 
}

.tags{
  text-align: center;
}

.tags .btn{
  margin: 10px; 
}

.active{
  background: #720000;
  color: white; 
}

.default:hover{
  background: #d90000;
  color: white; 
}

#articleContent{
	margin-top: 15px; 
}

.searchBar{
  text-align: center; 
}

.searchBar button:hover{
  cursor: pointer; 
}

#home, #about {
	margin-bottom: 50px; 
}

.footerLink:hover{
  color: #720000; 
  cursor: pointer; 
}

#userAnswersBox{
  clear: both;
}

.warning{
  color: red; 
}

.footerLink i{
  margin-right: 30px; 
  font-size: 20px;
}

.pollInput{
  width: 20px;
  height: 20px;
}

.pollInputLabel{
  font-size: 20px;
  padding-left: 10px;
}

.pollVotingSquare{
  overflow: hidden;
  background: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  margin: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  line-height: 1em;
}

h1 {
 font-size: 2.5rem;
}

p, li{
  font-size: 1.3125em;
}

li{
  margin: .5em 0p;
}

#leftPoll{
  overflow: hidden;
    min-height: 50px;
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.pollsContainer h1{
  margin-top: 80px;
}

#rightPollWrapper{
  float: right;
  width: 30%;
  min-height: 50px;
  margin-left: 10px;
}

#rightPoll{
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

#rightPoll label{
  display: block; 
}

.answer{
  position: relative; 
  margin-bottom: 10px;
}

.answerDeleteButton{
  position: absolute;
  top:0;
  right: 0;
  z-index: 2;
  height: 38px;
  width: 30px;
  cursor: pointer;
  background: none;
  border: 1px solid red;
}

.answerDeleteButton:hover{
  background:  rgba(255, 0, 0, 0.258);
}

.form-control{
  font-size: 18px;
}

.answerDeleteButton i{
  color: red;
  font-size: 18px;
}

#addAnswer{
  margin-bottom:10px;
}

.pollLink{
  background: white; 
  padding: 10px; 
  margin: 10px auto; 
  border-radius: 5px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  color: #007bff;
}

.pollLink:hover{
  background: rgb(206, 206, 206); 
}

.pollSubmitButton{
  margin-top:  20px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 5px 12px rgba(0,0,0,0.22);
}

#otherSpecify{
  margin-left: 10px;
}
/*
background-color: #6e6e6d;
    color: #fff;
    border: 0;
    width: 55px;
    height: 46px;
    padding: 12px 12px 15px 15px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    line-height: 34px;
    text-align: center;
    pointer-events: none;
    
    display: block;
    border: 0;
    font-size: 18px;
    height: 46px;
    border-radius: 2px;
    box-shadow: inset 0 2px 10px 1px #000;
    background-color: #222029;
    -webkit-box-shadow: inset 0 2px 10px 1px #000;
    -moz-box-shadow: inset 0 2px 10px 1px #000;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    */
/*
Railscasts-like style (c) Visoft, Inc. (Damien White)
*/

.searchBar{
  padding-inline-start: 40px;
}

.searchBar input{
  margin: 20px 0px;
  padding: 10px;
  padding-left: 20px;
  border-radius: 25px; 
  color: rgb(128,134,139);
  font-size: 20px;
  display: inline-block; 
  left: 0;
  border: none;
  width: 80%;
}

.searchBar input:focus{
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25)
}

.poll .btn:not(.editButton), #pleaseLoginOrRegister{
  margin: 20px;
}

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #232323;
  color: #e6e1dc;
}

.hljs-comment,
.hljs-quote {
  color: #bc9458;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag {
  color: #c26230;
}

.hljs-string,
.hljs-number,
.hljs-regexp,
.hljs-variable,
.hljs-template-variable {
  color: #a5c261;
}

.hljs-subst {
  color: #519f50;
}

.hljs-tag,
.hljs-name {
  color: #e8bf6a;
}

.hljs-type {
  color: #da4939;
}


.hljs-symbol,
.hljs-bullet,
.hljs-built_in,
.hljs-builtin-name,
.hljs-attr,
.hljs-link {
  color: #6d9cbe;
}

.hljs-params {
  color: #d0d0ff;
}

.hljs-attribute {
  color: #cda869;
}

.hljs-meta {
  color: #9b859d;
}

.hljs-title,
.hljs-section {
  color: #ffc66d;
}

.hljs-addition {
  background-color: #144212;
  color: #e6e1dc;
  display: inline-block;
  width: 100%;
}

.hljs-deletion {
  background-color: #600;
  color: #e6e1dc;
  display: inline-block;
  width: 100%;
}

.hljs-selector-class {
  color: #9b703f;
}

.hljs-selector-id {
  color: #8b98ab;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}
pre{
	margin: 0px; 
}